.bottom{
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 0;
}
.bottom p {
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}
.bottom p span {
    font-weight: bold;
    color:black;
}
.btn-group{
    display: flex;
    justify-content: space-evenly;
}
.bottom button{
    padding: 10px 20px ;
    width: 100px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-wrap: nowrap;
    border-radius: 5px;
    background: rgb(53, 20, 182);
}
.bottom .btn2{
    background-color: brown;
}